html,body, #root {
    width:100%;
    height:100%;
}

h1 {
    color:blue;
}

.game-board {
    width:100%;
    height:100%;
}

.game-card {
    border: solid 2px black;
    height: 100%;
    margin-left: 2.5px;
    margin-right: 2.5px;

}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 18%;
}

.fliped {
    background-color: initial !important;
}